.wrapper{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 136px;
    
}

@media screen and (max-width:1250px) {
    .wrapper{
        padding: 0px 40px;
       
    }
}
@media screen and (max-width:1100px) {
    .wrapper{
       flex-direction: column-reverse;
       margin-top: 70px;
       
    }
}

@media screen and (max-width:760px) {
    .wrapper{
       flex-direction: column-reverse;
       margin-top: 70px;
       .blockImg{
        max-width: 390px;
       }
    }
}
@media screen and (max-width:550px) {
    .wrapper{
        padding: 0px 20px;
       
    }
}
@media screen and (max-width:760px) {
    .wrapper{
       .blockImg{
        max-width: 340px;
       }
    }
}
@media screen and (max-width:370px) {
    .wrapper{
       .blockImg{
        max-width: 290px;
       }
    }
}