.mainBlockWrapper{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 130px;
    padding-top: 140px;
}

@media screen and (max-width:1420px) {
    .mainBlockWrapper{
        flex-direction: column;
        padding: 0px 50px;
        padding-top: 140px;
    }
    
}
@media screen and (max-width:565px) {
    .mainBlockWrapper{
        flex-direction: column;
        padding: 0px 30px;
        padding-top: 90px;
    }
}
@media screen and (max-width:550px) {
    .mainBlockWrapper{
        flex-direction: column;
        padding: 0px 20px;
        padding-top: 90px;
    }
}
@media screen and (max-width:500px) {
    .mainBlockWrapper{
       margin-bottom: 80px;
       padding-top: 90px;
    }
}